{% extends "base.html" %}
{% block start %}


<div class="container my-3">
<h3 class="text-center my-3 py-3">Contact Me</h3>
<form method="post" action ="/Contact" >
{% csrf_token %}
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name"aria-describedby="name">
  
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control"  id="email" name="email"  aria-describedby="email">
    <div id="emailhelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone Number</label>
    <input type="phone" class="form-control" id="phone" name="phone">
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Describe your issue?</label>
    {% comment %} <input type="text" class="form-control" id="content"> {% endcomment %}
    <textarea name="content" class="form-control" id="content"   cols="30" rows="8"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<div class="b-example-divider"></div>
<div class="container ">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">About</a></li>
    </ul>
    <p class="text-center text-muted">Copyright for Gautam singh | Allright Resive 2023</p>
  </footer>
  
</div>

 {% endblock %}